:root {
    --font-serif: "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    --font-sans: "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    --font-mono: "JetBrains Mono", "Fira Code", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --text-color: oklch(0.145 0 0);
    --dimmed-text-color: #777;
    --background-color: #fff;
    --link-color: #0066cc;
    --link-hover-color: #0056b3;
    --border-color: #aaa;
}

[data-theme="dark"] {
    --text-color: #f0f0f0;
    --dimmed-text-color: #999;
    --background-color: #000000;
    --link-color: #65a0ff;
    --border-color: #333;
}
