<%= render("./header.html", { title, description: description ?? "", url, image: image ? url + image : null, extras: true }) %>

<article>

<color-band class="w-full mt-4" style="height: 80px;"></color-band>

<h1 style="margin-top: 0rem;"><%= title %></h1>
<p class="text-xs italic" style="color: var(--dimmed-text-color);"><%= date %><% if (typeof reading_time !== 'undefined' && reading_time) { %> &nbsp;·&nbsp; ~<%= reading_time %> min read<% } %></p>

<% if (typeof tags !== 'undefined' && Array.isArray(tags) && tags.length > 0) { %>
<div class="post-tags">
<% for (const tag of tags) { %>
<a href="/tags/#<%= tag.toLowerCase().replace(/[\s/]+/g, '-') %>" class="post-tag"><%= tag %></a>
<% } %>
</div>
<% } %>

<% if (image) { %>
<figure>
<% if (/\.(mp4|webm|ogg|mov|mkv)(\?|$)/i.test(image)) { %>
<video autoplay muted loop playsinline style="width:100%;border-radius:0.5rem;display:block;">
  <source src="<%= image %>" type="video/<%= image.split('.').pop().split('?')[0].replace('mov','mp4') %>">
</video>
<% } else { %>
<img src="<%= image %>">
<% } %>
<% if (typeof caption !== 'undefined' && caption) { %><figcaption><%= caption %></figcaption><% } %>
</figure>
<% } %>